body {
    background:#004000;
    color:white;
    font-size: 14px;
    font-weight: 100;
    margin: 0;
}
button, input {
    border: solid 3px;
    border-radius: 5px / 5px;
    padding: 0px 3px 0px 3px;
}
th {
    background:#008000;
    border: solid 1px;
    padding: 0px 10px 0px 10px;
}
td {
    border: solid 1px;
    padding: 0px 10px 0px 10px;
}
select {
    background:#e0ffff;
    border: solid 3px;
    border-radius: 5px / 5px;
    color:green;
    height: 28px;
    padding: 0;
}
#div_main, #div_config, #div_act {
    z-index: 1;
}
#div_fset, #div_gen, #div_gps, #div_iii {
    position: absolute;
    z-index: 1;
}
#div_gen {
    position: absolute;
    z-index: 2;   
}
#act_key {
    width: 200px;
}
#act_value {
    width: 300px;
}
.button_a, .button_a30, .button_a60, .button_a120, .text_a, .text_b, .text_c, .text_f {
    background:#e0ffff;
    color:green;
}
.button_a {
    height: 27px;
}
.button_a30 {
    height: 27px;
    width: 30px;
}
.button_a60 {
    height: 27px;
    width: 60px;
}
.button_a120 {
    height: 27px;
    width: 120px;
}
.button_b100 {
    background:black;
    color:yellow;
    height: 27px;
    width: 100px;
}
.button_r {
    background:#f6d9f0;
    color:red;
    height: 27px;
}
.button_rec {
    background:#00000000;
    border-style: none;
    height: 25px;
    margin: 0px 3px 0px 0px;
}
.button_r84 {
    background:#f6d9f0;
    color:red;
    height: 27px;
    width: 84px;
}
.button_r120 {
    background:#f6d9f0;
    color:red;
    height: 27px;
    width: 120px;
}
.button_a:hover, .button_a30:hover, .button_a60:hover {
    background:#70ffff;
}
.button_b:hover {
    background:#fcfcac;
    color: black;
}
.button_r:hover, .button_r84:hover, .button_r120:hover {
    background:#f3a5d5;
}
.canvas_a {
    position: relative;
}
.canvas_a > canvas {
    position: absolute;
}
.pre_a {
    background:#e0ffff;
    border: solid 3px;
    border-radius: 5px / 5px;
    color:green;
    height: 220px;
    width: 140px;
    margin: 0;
}
.text_a {
    height: 20px;
    width: 80px;
}
.text_b {
    height: 20px;
    width: 105px;
}
.text_c {
    height: 20px;
    width: 40px;
}
.text_f {
    height: 20px;
    width: 300px;
}
